# Topics

1. String creation
2. splitting string
3. stripping string
4. replace
5. Case change
6. String Formatting

## 1. String creation

In [1]:
'a'

'a'

In [2]:
'word'

'word'

In [3]:
'a sentance'

'a sentance'

In [4]:
m = '''this is "common" 
  we can 
  write 
  multiple line
  here '''

In [5]:
print(m)

this is "common"
  we can
  write
  multiple line
  here

In [6]:
x = 'Hello my name is mayank'
y = ', what is your ?'

In [7]:
x+y

'Hello my name is mayank, what is your ?'

In [8]:
z=x+y

In [9]:
z

'Hello my name is mayank, what is your ?'

In [10]:
print(x+'hii'+y)

Hello my name is mayankhii, what is your ?

In [11]:
2+9

11

In [12]:
'2'+'9'

'29'

In [13]:
print("2" + 9)

TypeError: can only concatenate str (not "int") to str

## Split string

In [19]:
a= "Hii my name is is vishal dubey how are u?"

In [21]:
b = a.split()

In [22]:
a

'Hii my name is is vishal dubey how are u?'

In [23]:
b

['Hii', 'my', 'name', 'is', 'is', 'vishal', 'dubey', 'how', 'are', 'u?']

## Join string

In [25]:
'_'.join(b)

'Hii_my_name_is_is_vishal_dubey_how_are_u?'

## Strip string

In [29]:
z = '          something something       '

In [30]:
z

'          something something       '

In [31]:
z.strip()

'something something'

In [32]:
z.lstrip()

'something something       '

In [33]:
z.rstrip()

'          something something'

In [34]:
z= 'aaaaaaaaaasomething somethingaaaaaaaaaaaaaaa'
z= z.strip('a')
print(z)

something something

## Replace

In [35]:
z.replace('some', 'no')

'nothing nothing'

In [36]:
len(z)

19

In [37]:
z.upper()

'SOMETHING SOMETHING'

In [38]:
z.lower()

'something something'

In [40]:
z.capitalize()

'Something something'

# Formating the string

In [41]:
x

'Hello my name is mayank'

In [42]:
y

', what is your ?'

In [43]:
print(x+y)

Hello my name is mayank, what is your ?

In [44]:
print('this is a sentence, {1} name is {0}....Hello,{1}'.format('vishal', 'my'))

this is a sentence, my name is vishal....Hello,my