1. Creating list

    1. Ordered
    2. Mutable
    3. supports multiple datatype

In [2]:
s = 'abcdef'

In [3]:
s='anncxdskcdd'

In [5]:
lst1=['ab','bc',1,2,3,True, False,34,54,76,86]
lst1

['ab', 'bc', 1, 2, 3, True, False, 34, 54, 76, 86]

In [6]:
lst1[-2]

76

2. Retreiving elements to list

lst1[0]

In [8]:
lst1[0]

'ab'

In [9]:
lst1[-1]

86

In [10]:
lst1[-3]

54

In [11]:
lst1

['ab', 'bc', 1, 2, 3, True, False, 34, 54, 76, 86]

In [12]:
lst1[1:8:1]

['bc', 1, 2, 3, True, False, 34]

In [13]:
for i in range(3,20,2):
    print(i)

3
5
7
9
11
13
15
17
19

In [14]:
lst1

['ab', 'bc', 1, 2, 3, True, False, 34, 54, 76, 86]

## 3. Adding Objects to a list
      1.  (+) operator
      2. .append(object) 
      3. .extend(list)

In [15]:
lst2=[1,2,3,4,5,6]
lst2

[1, 2, 3, 4, 5, 6]

In [16]:
lst=lst1+lst2
lst

['ab', 'bc', 1, 2, 3, True, False, 34, 54, 76, 86, 1, 2, 3, 4, 5, 6]

In [17]:
len(lst2)
lst2[6]

IndexError: list index out of range

In [18]:
lst2.append(1)
lst2

[1, 2, 3, 4, 5, 6, 1]

In [19]:
lst2[6]

1

In [20]:
lst2[7]

IndexError: list index out of range

In [21]:
lst2.append([8,9,10])
lst2

[1, 2, 3, 4, 5, 6, 1, [8, 9, 10]]

In [22]:
lst2.extend([11,12,13,14])
lst2

[1, 2, 3, 4, 5, 6, 1, [8, 9, 10], 11, 12, 13, 14]

In [23]:
lst2.extend('Try')
lst2

[1, 2, 3, 4, 5, 6, 1, [8, 9, 10], 11, 12, 13, 14, 'T', 'r', 'y']

In [24]:
lst2.extend(['Try'])
lst2

[1, 2, 3, 4, 5, 6, 1, [8, 9, 10], 11, 12, 13, 14, 'T', 'r', 'y', 'Try']

In [25]:
lst2.extend(['Try',2,3,4])
lst2

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 [8, 9, 10],
 11,
 12,
 13,
 14,
 'T',
 'r',
 'y',
 'Try',
 'Try',
 2,
 3,
 4]

In [26]:
lst2.append(1234)
lst2

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 [8, 9, 10],
 11,
 12,
 13,
 14,
 'T',
 'r',
 'y',
 'Try',
 'Try',
 2,
 3,
 4,
 1234]

In [27]:
lst2.insert(3,'newobj')
lst2

[1,
 2,
 3,
 'newobj',
 4,
 5,
 6,
 1,
 [8, 9, 10],
 11,
 12,
 13,
 14,
 'T',
 'r',
 'y',
 'Try',
 'Try',
 2,
 3,
 4,
 1234]